.wrapper{
  width: 120rem;
  min-height: 100vh;
  background-color: var(--def);
  display: flex;
  flex-direction: column;
  padding: 0 10rem;

}

@media (max-width: 768px){
  .wrapper{
    padding: 0 1.5rem;
  }
}