.wrapper {
  width: 120rem;
  min-height: 100vh;
  background-color: var(--def);
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  align-items: end;

  ul {
    width: 100%;
  }

  .buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    button {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}