.createComment{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: start;
  margin: 5rem 0 1.6rem 0;

  .content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .textarea{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;

    textarea{
      font-size: 1.5rem;
      font-weight: 400;
      width: 100%;
      border-bottom: 1px solid var(--back);
      height: 1.5rem;
      resize: none;
      overflow: hidden;
      padding-bottom: 1rem;
      display: block;
    }
  }

  .textarea:after{
    content:"";
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:0;
    height:1px;
    background-color: var(--main-text);
    transition: .3s;
  }

  .textarea:focus-within:after{
    width:100%;
  }

  .hidden{
    display: none;
  }

  .buttons{
    margin-left: auto;
    gap: 1rem;
    display: flex;

    button{
      font-size: 1.5rem;
      padding: 0 1.5rem;
      border-radius: 1.8rem;
      height: 3.6rem;
      transition: .3s;


    }
    .cancel{

    }
    .cancel:hover{
      background-color: var(--back);
    }
    .add{
      background-color: var(--hover-button);
      color: var(--def);
    }
    .add:hover{
      background-color: var(--button);
    }

    .disabled{
      background-color: var(--back);
      color: var(--text);

    }
  }

}